@mixin btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1ebff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #cdd1ff;
        border: 1px solid #7878e6;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    background: linear-gradient(0, rgba(2, 0, 36, 1) 0%, rgba(120, 120, 230, 1) 0%, rgba(5, 198, 237, 1) 45%);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #23092c;
}

.todo {
    width: 100%;
    max-width: 400px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #7878e6;
    border-radius: 10px;

    // .todo__title
    &__title {
        font-family: "Caveat", cursive;
        font-style: normal;
    }

    // .todo__form
    &__form {
        margin: 20px 0;
    }
}

.todo-form {
    width: 100%;
    display: flex;
    justify-content: space-between;

    // .todo-form__input
    &__input {
        min-width: 90%;
        padding: 5px 10px;
        font-size: 16px;
        font-style: italic;
        border: 1px solid #23092c;
        border-radius: 5px;
        outline: none;

        &::placeholder {
            font-size: 14px;
        }
    }

    // .todo-form__btn-add
    &__btn-add {
        @include btn();
        font-family: "Open Sans", sans-serif;
        font-size: 32px;
        font-weight: bold;
        color: #7878e6;
    }
}

.todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;

    // .todo-list__item
    &__item {
        margin: 5px 0;
    }
}

.todo-item {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    background-color: #e1ebff;
    border-radius: 5px;
    overflow-wrap: break-word;

    // .todo-item__btn-del
    &__btn-del {
        @include btn();
        background-image: url("./image/del.svg");
    }
}
