@mixin btn($width: 30px) {
    width: $width;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background-color: #e1ebff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: #cdd1ff;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    background: linear-gradient(0, rgba(2, 0, 36, 1) 0%, rgba(120, 120, 230, 1) 0%, rgba(5, 198, 237, 1) 45%);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #23092c;
}

.todo {
    width: 100%;
    max-width: 400px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #7878e6;
    border-radius: 10px;

    // .todo__title
    &__title {
        font-family: "Caveat", cursive;
        font-style: normal;
    }

    // .todo__form
    &__form {
        margin: 20px 0;
    }
}

.todo-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;

    // .todo-form__input
    &__input {
        width: 100%;
        padding: 5px 10px;
        font-size: 16px;
        font-style: italic;
        border: 1px solid #23092c;
        border-radius: 5px;
        outline: none;

        &::placeholder {
            font-size: 14px;
        }
    }

    // .todo-form__priority
    &__priority {
        @include btn(60%);
        justify-content: flex-start;
        gap: 5px;
        padding: 0 10px;
        font-size: 14px;
        color: #23092c;
        background-color: transparent;

        // .todo-form__priority--important
        &--important {
            border: 1px solid #eeb7c5;
        }

        // .todo-form__priority--checkbox
        &--checkbox {
            width: 20px;
            height: 20px;
        }
    }

    // .todo-form__btn-add
    &__btn-add {
        @include btn(20%);
        font-size: 36px;
        font-weight: bold;
        color: #1e9e12;
    }
}

.todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;

    // .todo-list__item
    &__item {
        margin: 5px 0;
    }
}

.todo-item {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    list-style: none;
    background-color: #e1ebff;
    border-radius: 5px;

    //.todo-item--done
    &--done {
        text-decoration: line-through;
        text-decoration-color: #4256ac;
        text-decoration-thickness: percentage($number: 0.15);
    }

    //.todo-item--important
    &--important {
        background-color: #eeb7c5;
    }

    // .todo-item__btn-done
    &__btn-done {
        @include btn(20px);
        height: 20px;
        border: 1px solid #7878e6;
        background-repeat: no-repeat;
        background-position: center;

        // .todo-item--done .todo-item__btn-done
        .todo-item--done > & {
            background-image: url("./image/btn-done.png");
        }

        // .todo-item__btn-done:hover,
        &:hover {
            background-image: url("./image/btn-done.png");
            background-size: contain;
        }
    }

    // .todo-item__name
    &__name {
        max-width: 250px;
        margin: 0 auto 0 10px;
        overflow-wrap: break-word;
    }

    // .todo-item__btn-del
    &__btn-del {
        @include btn();
        background-image: url("./image/btn-del.svg");
        opacity: 0;

        // .todo-item:hover .todo-item__btn-del
        .todo-item:hover & {
            opacity: 1;
        }
    }
}
