* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    background: linear-gradient(0, rgba(2, 0, 36, 1) 0%, rgba(120, 120, 230, 1) 0%, rgba(5, 198, 237, 1) 45%);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #23092c;
}

.todo {
    width: 100%;
    max-width: 400px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #7878e6;
    border-radius: 10px;

    // .todo__title

    &__title {
        font-family: "Caveat", cursive;
        font-style: normal;
    }

    // .todo__form

    &__form {
        margin: 20px 0;
    }
}

.todo-form {
    width: 100%;
    display: flex;
    justify-content: space-between;

    // .todo-form__input

    &__input {
        min-width: 90%;
        padding: 5px;
    }

    // .todo-form__btn

    &__btn {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}

.todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;

    // .todo-list__item

    &__item {
        margin: 5px 0;
        padding: 5px 10px;
        list-style: none;
        background-color: #e1ebff;
        border-radius: 5px;
    }
}
